@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
body{
    max-width: 1000px;
    width: 80%;
    margin: auto;
}
header{
    display: flex;
    flex-direction: column;
}
header > h1 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    align-self: flex-start;
}
.title-logo{
    display: flex;
    align-items: center;
}
.logo{
    width: 30px;
    height: 30px;
    background-color: #941e2d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo > img{
    max-width: 100%;
    display: block;
}
.title-logo > h2 {
    align-self: flex-start;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #858A8F;
    line-height: 35px;
    margin-left: 10px;
}
main{
    /* border: 2px solid red; */
    padding: 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    /* justify-content: space-between; */
}
card{
    width: 13rem;
    height: auto    ;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 1px 1px 10px gray;
    padding: 1rem;
    padding-bottom: 0;
    margin-top: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
card > img{
    min-height: 10rem;
    border-radius: 0.25rem;
    max-inline-size: 100%;
    block-size: auto;
    object-fit: cover;
    object-position: top left;
    margin: 0 ;
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
}

.card-options{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
}
.button-class{
    display: flex;
}
.btn{
    
        background-color: #0176FF;
        border: none;
        border-radius: 0.5rem;
        width: 2rem;
        color: white;
        padding: 6px 10px 6px;
        text-align: center;
        display: inline-block;
        font-weight: 600;
        font-family: 'Inter', sans-serif;
        font-size: 0.6rem;
        margin: 4px 2px;
    
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
strong{
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    font-family: 'Inter', sans-serif;
}
p{
    margin-top: 10px;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 0.6rem;
    color: #858A8F;
}
.icon{
    display: flex;
    gap:1em;
}